@use '../settings/config' as *;

$white: #fff;
$black: #000000;

.collection-banner-half {
    &__wrapper {
        .cbh__container {
            .cbh__wrapper {
                display: grid;
                gap: 8px;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto auto;
                grid-template-areas: 'item-1 item-2';

                @media (max-width: $sm) {
                    grid-template-columns: 1fr;
                    grid-template-areas:
                        'item-1'
                        'item-2';
                }

                article {
                    border-radius: 12px;
                    overflow: hidden;

                    @media (max-width: $lg) {
                        min-height: 250px;
                    }

                    &.item-1 {
                        grid-area: item-1;
                    }

                    &.item-2 {
                        grid-area: item-2;
                    }

                    &.mu__item-3 {
                        grid-area: item-3;
                    }

                    figure {
                        margin: 0;
                        height: 100%;
                        position: relative;

                        &::after {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: right;
                        }

                        figcaption {
                            position: absolute;
                            left: 16px;
                            bottom: 16px;
                            z-index: 1;

                            .cbh__badge {
                                color: #131313;
                                font-size: 12px;
                                font-weight: 600;
                                letter-spacing: 0.04em;
                                line-height: 100%;
                                background: #ffffff99;
                                padding: 2px 12px;
                                max-height: 16px;
                                border-radius: 8px;
                                margin-bottom: 10px;
                                display: block;
                                max-width: fit-content;
                            }

                            .cbh__title {
                                p {
                                    margin: 0;
                                    font-size: 32px;
                                    font-weight: 400;
                                    line-height: 120%;
                                    color: $white;

                                    @media (max-width: $sm) {
                                        font-size: 20px;
                                    }

                                    strong {
                                        font-weight: 600;
                                        color: #fee301;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
