@use '../settings/config' as *;

// $font-family-base: var(--font-body-family);
// $font-family-headings: var(--font-heading-family);

// $white: #fff;
// $black: #000000;

// $sm: 576px;
// $md: 750px;
// $lg: 990px;
// $xl: 1200px;
// $xxl: 1400px;

.collection-subscribe {
    &__wrapper {
        background: none;

        .cs__container {
            max-width: 670px;
            margin: 0 auto;
            text-align: center;

            .cs__title {
                font-size: 36px;
                line-height: 130%;
                font-weight: 700;
                letter-spacing: -0.05em;
                margin: 0 auto;
                color: #f9f6f2;

                strong {
                    color: #fee301;
                }

                @include media-breakpoint-down(sm) {
                    font-size: 28px;
                    line-height: 100%;
                }
            }

            .cs__subtitle {
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
                letter-spacing: 0.05em;
                color: #f9f6f2;
                margin: 16px auto 32px;
            }

            form#subscribe-cs {
                display: flex;
                gap: 12px;
                align-items: center;
                justify-content: space-between;

                input {
                    padding-left: 42px;
                    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="14" viewBox="0 0 18 14" fill="none"><path d="M1.6875 0C0.755859 0 0 0.755859 0 1.6875C0 2.21836 0.249609 2.71758 0.675 3.0375L8.325 8.775C8.72578 9.07383 9.27422 9.07383 9.675 8.775L17.325 3.0375C17.7504 2.71758 18 2.21836 18 1.6875C18 0.755859 17.2441 0 16.3125 0H1.6875ZM0 3.9375V11.25C0 12.491 1.00898 13.5 2.25 13.5H15.75C16.991 13.5 18 12.491 18 11.25V3.9375L10.35 9.675C9.54844 10.2762 8.45156 10.2762 7.65 9.675L0 3.9375Z" fill="%2391908A"/></svg>');
                    background-repeat: no-repeat;
                    background-position: 10px center;
                    background-size: 18px 14px;
                    border: 1px solid #fee301;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
                    padding-top: 12px;
                    padding-bottom: 12px;
                    border-radius: 16px;
                    width: 100%;
                }

                button {
                    background: #fee301;
                    border-radius: 16px;
                    color: #131313;
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 600;
                    text-transform: uppercase;
                    padding: 12px 21px;
                    border: none;
                    display: inline-flex;
                    align-items: center;
                    gap: 12px;
                    min-width: fit-content;
                    border: 1px solid #fee301;

                    svg {
                        width: 16px;
                        height: 16px;
                    }

                    &:hover {
                        background: #131313;
                        color: #fee301;
                    }
                }
            }

            .cs__benefits {
                display: flex;
                align-items: center;
                column-gap: 32px;
                justify-content: center;
                margin-top: 32px;

                article {
                    display: flex;
                    align-items: center;
                    column-gap: 8px;

                    svg {
                        width: 18px;
                        height: 18px;
                    }

                    span {
                        font-size: 14px;
                        line-height: 100%;
                        font-weight: 400;
                        letter-spacing: -0.05em;
                        color: #f9f6f2cc;
                    }
                }
            }
        }
    }
}

.subscribe-popup__wrap {
    border: 1px solid #137829;
    background: #f5f5f5;
    padding: 20px;
    top: 50%;
    left: 50%;
    width: 320px;
    height: 100px;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 10000;
    border-radius: 15px;
}

.subscribe-popup__wrap p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.subscribe-popup__wrap svg {
    height: 50px;
    width: 50px;
}

.subscribe-popup__wrap p span {
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: #424242;
    font-family: 'Inter';
}
