.catalog-cards__container {
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
}

@media (max-width: 430px) {
    .catalog-cards__container {
        gap: 8px;
        padding: 0 1.5rem;
    }
}

.catalog-cards__wrapper {
    width: calc(50% - 18px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 430px) {
    .catalog-cards__wrapper {
        width: 100%;
    }
}

.catalog-cards__wrapper h3 {
    color: #272727;
    font-size: 36px;
    font-weight: 400;
    line-height: 46px;
    font-family: 'Righteous';
    margin-bottom: 8px;
    text-align: center;
}

@media (max-width: 1150px) {
    .catalog-cards__wrapper h3 {
        font-size: 25px;
        margin-bottom: auto;
    }
}

@media (max-width: 790px) {
    .catalog-cards__wrapper h3 {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: auto;
    }
}

.catalog-cards-image__wrapper {
    width: 100%;
    overflow: hidden;
    aspect-ratio: 164 / 135;
}

.catalog-cards__wrapper img {
    width: 100%;
    height: auto;
    margin-top: 8px;
    transition: 0.5s all ease-in-out;
}

.catalog-cards-image__wrapper:hover .image {
    transform: scale(1.1);
}

.catalog-cards__wrapper a {
    display: flex;
    align-items: center;
    color: #272727;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Archivo';
    text-decoration: none;
    gap: 8px;
    margin-top: 24px;
    transition: 0.5s all ease-in-out;
}

.catalog-cards__wrapper a:hover {
    text-decoration: underline;
}

@media (max-width: 430px) {
    .catalog-cards__wrapper a {
        margin-top: 5px;
    }
}