.aptus__locator {
    .aptus-locator__wrapper {
        .aptus-locator__container {
            h2.main-title {
                color: #f15c25;
                font-size: 28px;
                text-align: left;
                font-family: "Montserrat_", sans-serif;
                font-weight: 800;
                margin: 0;
                margin-bottom: -32px;
            }
            .stockist-search-form {
                // display: none !important;
                margin-top: 50px !important;
            }
            .stockist-result-list {
                // margin-top: 50px !important;
                border: 1px solid #e8e8e8 !important;
                width: 360px !important;
                @media (max-width: 768px) {
                    width: 100% !important;
                }
            }
           .stockist-result *:not(.stockist-icon-marker) {
                font-size: 17px !important;
                font-family: "Inter" !important;
                font-weight: 400 !important;
                text-decoration: none;
                line-height: 22px;
            }
           .stockist-result  {
                overflow: hidden !important;
            }
           .stockist-result > * {
                padding-left: 20px !important;
            }
            .stockist-result-distance {
                display: flex !important;
                width: 100% !important;
                gap: 12px !important;
            }
            .stockist-result-name {
                // padding-left: 50px !important;
            }

            .stockist-icon {
                width: fit-content !important;
            }
            .stockist-result-list::-webkit-scrollbar {
                width: 3px;
                height: 3px;
            }
            .stockist-result-list::-webkit-scrollbar-track {
                background: #f1f1f1;
            }
            .stockist-result-list::-webkit-scrollbar-thumb {
                background: #888;
            }
            .stockist-result-list::-webkit-scrollbar-thumb:hover {
                background: #555;
            }
            .stockist-side-panel {
                width: 360px !important;
                @media (max-width: 768px) {
                    width: 100% !important;
                }
            }
            .stockist-powered-by-link,
            .stockist-result-address {
                display: none !important;
            }
            .stockist-map {
                border: 3px solid #F15C25 !important;
                left: 430px !important;
            }
        }
    }
}

#stockist-widget .stockist-list-result .stockist-result-name {
    cursor: pointer;
    margin-top: 25px !important;
}