.designer__heading {
    font-size: 64px;
    text-align: center;
    font-weight: 400;
    line-height: 76px;
    font-family: 'Righteous';
    margin-bottom: 16px;
    color: #272727;
}

.designer__card-wrapper {
    display: flex;
    gap: 12px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.designer__card-wrapper img {
    width: 214px;
    height: 214px;
}

@media (max-width: 430px) {
    .designer__card-wrapper img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 430px) {
    .designer__card-inner {
        width: 45%;
    }
}

.designer__card-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.designer__card-link {
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    background: #FFB0C8;
    margin-top: -40px;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.designer__card-inner:hover .designer__card-link {
    opacity: inherit;
}

.designer__card-inner-top,
.designer__card-inner-bottom {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
    visibility: hidden;
}