.aptus__marquee {
    .aptus-marquee__wrapper {
        background: #f15c25;
        p {
            margin: 0;
            color: #e8e8e8;
            font-size: 15px;
            line-height: 21px;
            position: relative;
            &:before {
                content: "";
                display: block !important;
                height: 38px;
                width: 150px;
                min-width: 50px;
                background-image: linear-gradient(to right, #f15c25, #f15c2500);
                position: absolute;
                left: 0;
                transform: translateY(-50%);
                top: 50%;
                z-index: 1;
                @media screen and (max-width: 600px) {
                    width: 50px;
                }
            }
            &:after {
                content: "";
                display: block !important;
                height: 38px;
                width: 150px;
                min-width: 50px;
                background-image: linear-gradient(to left, #f15c25, #f15c2500);
                position: absolute;
                right: 0;
                transform: translateY(-50%);
                top: 50%;
                z-index: 1;
                @media screen and (max-width: 600px) {
                    width: 50px;
                }
            }
            span {
                font-size: 15px;
                line-height: 21px;
            }
        }
    }
}