.run-string__wrapper {
    background: #FFB0C8;
    height: 56px;
    display: flex;
}

@media (max-width: 430px) {
    .run-string__wrapper {
        height: 48px;
    }
}

.run-string__container .js-marquee {
    display: flex;
    align-items: center;
    justify-content: center;
}

.run-string__container a {
    font-family: 'BrunoAce-Regular';
    color: #272727;
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 8px;
    /* height: 100%; */
    height: 56px;
    min-width: fit-content;
    margin-right: 46px;
}

@media (max-width: 430px) {
    .run-string__container a {
        font-size: 14px;
        text-transform: uppercase;
        height: 48px;
        margin-right: 27px;
    }

    .run-string__container a span {
        min-width: max-content;
    }
}