.slider-mini {
    &__wrapper {
        position: relative;
        @media screen and (max-width: 540px) {
            padding-right: 0;
        }
        .sm__container {
            .sm__items {
                article {
                    .sm__image__wrapp {
                        width: 100%;
                        aspect-ratio: 4 / 1;
                        overflow: hidden;
                        border-radius: 24px;
                        @media screen and (max-width: 1024px) {
                            aspect-ratio: 3 / 1;
                        }
                        @media screen and (max-width: 539px) {
                            aspect-ratio: 1 / 1;
                        }
                        .sm__image {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            filter: brightness(0.4);
                        }
                    }
                    .sm__content-wrapper {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        .sm__content {
                            font-size: 44px;
                            color: #ffffff;
                            font-weight: 500;
                            line-height: 110%;
                            letter-spacing: 0.04em;
                            text-transform: uppercase;
                            text-align: center;
                            strong {
                                color: #fee301;
                                font-weight: 500;
                                @media screen and (max-width: 540px) {
                                    font-weight: 700;
                                }
                            }
                            @media screen and (max-width: 1024px) {
                                font-size: 28px;
                            }
                            @media screen and (max-width: 540px) {
                                font-size: 20px;
                                line-height: 28px;
                                text-transform: capitalize;
                                color: #fee301;
                                font-weight: 700;
                            }
                        }
                        .sm__link {
                            background-color: #fee301;
                            color: #131313;
                            border: none;
                            font-weight: 400;
                            letter-spacing: 0;
                            font-size: 16px;
                            line-height: 24px;
                            text-decoration: none;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            gap: 8px;
                            padding: 12px 16px;
                            border-radius: 1.6rem;
                            width: -moz-max-content;
                            width: max-content;
                            margin-left: auto;
                            margin-right: auto;
                            margin-top: 24px;
                            transition: all 0.3s;
                            &:hover {
                                opacity: 0.5;
                            }
                            @media screen and (max-width: 539px) {
                                background: none;
                                border: 1px solid #fee301;
                                color: #fee301;
                                padding: 11px 15px;
                                max-height: 48px;
                                margin-top: 16px;
                            }
                        }
                    }
                }
            }
        }
        .swiper-button-next:after,
        .swiper-button-prev:after {
            display: none;
        }
        .swiper-button-next,
        .swiper-button-prev {
            @media screen and (max-width: 749px) {
                display: none;
            }
        }
        .swiper-pagination-bullets.swiper-pagination-horizontal {
            bottom: 20%;
            @media screen and (max-width: 540px) {
                display: none;
            }
            .swiper-pagination-bullet {
                width: 12px;
                height: 4px;
                border-radius: 2px;
                border: 1px solid #ffffff;
                background: none;
                opacity: 1;
            }
            .swiper-pagination-bullet-active {
                background: #ffffff;
            }
        }
    }
}
