$color-black: #131313;
$breakpoint-sm: 576px;

.cards-name {
  &__wrapper {
    .title {
      font-size: 40px;
      line-height: 48px;
      font-weight: 600;
      color: $color-black;
      margin: 0 0 48px 0;
      @media (max-width: $breakpoint-sm) {
        font-size: 24px;
        line-height: 32px;
        margin: 0 0 24px 0;
      }
    }
    .cn__container {
      .cn__items {
        display: grid;
        -webkit-grid-template-columns: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        @media (max-width: $breakpoint-sm) {
          grid-template-columns: repeat(2, 1fr);
        }

        article {
          padding: 20px;

          .cn__image-wrapp {
            width: 100%;
            aspect-ratio: 1 / 1;
            overflow: hidden;

            .cn__image {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: top;
            }
          }
          .cn__card-title {
            font-size: 16px;
            line-height: 140%;
            font-weight: 600;
            color: $color-black;
            @media (max-width: $breakpoint-sm) {
              font-size: 14px;
            }
          }
          .cn__card-description {
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
            color: $color-black;
            @media (max-width: $breakpoint-sm) {
              font-size: 12px;
              line-height: 16px;
            }

            & p:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
