.aptus__why-use {
    padding-left: 30px;
    padding-right: 30px;
    .aptus-why-use__wrapper {
        @media screen and (max-width: 768px) {
            padding-left: 0;
            padding-right: 0;
        }
        h2.main-title {
            /* color: #f15c25; */
            font-size: 28px;
            font-weight: 800;
            text-align: center;
            margin-bottom: 50px;
            font-family: 'Montserrat_', sans-serif;
        }
        p.main-subtitle {
            font-size: 15px;
            font-weight: 400;
            line-height: 1.4em;
            text-align: center;
            margin-bottom: 58px;
            font-family: 'Inter';
        }
        .aptus-why-use__wrapp-grid {
            display: flex;
            flex-wrap: wrap;
            gap: 60px;
            @media screen and (max-width: 1024px) {
                gap: 40px;
            }
            @media screen and (max-width: 768px) {
                padding-left: 0;
                padding-right: 0;
            }
            .aptus-why-use__container {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                width: calc(33.333% - 40px);
                @media screen and (max-width: 1024px) {
                    width: calc(33.333% - 27px);
                }
                @media screen and (max-width: 768px) {
                    width: calc(50% - 20px);
                }
                @media screen and (max-width: 430px) {
                    width: 100%;
                }
                .aptus-why-use__image-wrapp {
                    aspect-ratio: 1 / 1;
                    width: 100%;
                    overflow: hidden;
                    border-radius: 11px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: all 1s;
                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
                .aptus-why-use__content {
                    text-align: left;
                    line-height: 1.4em;
                    font-size: 15px;
                    font-weight: 600;
                    h2 {
                        font-size: 20px;
                        font-weight: 700;
                        margin-bottom: 10px;
                        font-family: 'Montserrat_', sans-serif;
                        color: #424242;
                    }
                    p {
                        font-size: 15px;
                        font-weight: 400;
                        margin: 0;
                        font-family: 'Inter';
                    }
                }
            }
        }
    }
}
