// CONFIG
$bp-mobile: 750px;
$bp-tablet: 1024px;
$grid-num: 5; /* <-- */

@use 'sass:math';
@use '../settings/config' as *;

.name {
    /* background: grey; */
    &__wrapper {
        background: rgb(var(--color-background));
        /* background: var(--gradient-background); */

        header {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 12px;
            /* flex-direction: column; */

            & * {
                margin: 0;
            }

            .__title {
                color: rgb(var(--color-foreground));
                font-weight: 600;
                &.h1 {
                    font-size: 56px;
                    font-weight: 700;
                    line-height: 110%;
                }
                &.h2 {
                    font-size: 36px;
                    line-height: 120%;
                }
                &.h3 {
                    font-size: 26px;
                    line-height: 130%;
                }
                &.h4 {
                    font-size: 20px;
                    line-height: 130%;
                }

                @media (max-width: #{$bp-mobile}) {
                    &.h1,
                    &.h2,
                    &.h3 {
                        font-size: 24px;
                        line-height: 100%;
                    }
                }
            }

            .__subtitle {
                font-size: 18px;
                line-height: 160%;
                font-weight: 400;
                max-width: 600px;
                color: rgb(var(--color-foreground));

                @media (max-width: #{$bp-mobile}) {
                    font-size: 16px;
                    line-height: 140%;
                }
            }

            a.__link {
            }
        }

        .__container {
            background: none;

            .__grid--wrapp {
                display: grid;
                grid-template-columns: repeat($grid-num, 1fr);
                gap: 12px;

                @media (max-width: #{$bp-tablet}) {
                    grid-template-columns: repeat(math.ceil(math.div($grid-num, 2)), 1fr);
                }
                @media (max-width: #{$bp-mobile}) {
                    grid-template-columns: 1fr;
                }
            }

            $i: 1;
            /* $grid-items: 6;
            .__grid--wrapp {
                display: grid;
                gap: 8px;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: auto auto auto;
                grid-template-areas:
                    'item-1 item-1 item-2'
                    'item-3 item-4 item-4'
                    'item-5 item-5 item-6';

                @media (max-width: #{$bp-mobile}) {
                    grid-template-columns: 1fr;
                    grid-template-areas:
                        'item-1'
                        'item-2'
                        'item-3'
                        'item-4'
                        'item-5'
                        'item-6';
                }
                article {
                    @for $i from 1 through $grid-items {
                        &.number-#{$i} {
                            grid-area: item-#{$i};
                        }
                    }
                }
            } */

            .__slider--wrapp {
                padding: 50px 0 30px 0;
                position: relative;

                .swiper-button-prev,
                .swiper-button-next {
                    width: 40px;
                    height: 40px;
                    top: 30px;
                    @media (max-width: #{$bp-mobile}) {
                        display: none;
                    }
                    &:after {
                        display: none;
                    }
                    &:hover svg {
                        circle {
                            fill: #ecebde;
                        }
                        path {
                            stroke: #40543e;
                        }
                    }
                }

                .swiper-button-prev {
                    left: auto;
                    right: 56px;
                }

                .swiper-pagination {
                    width: auto;
                    left: 50%;
                    transform: translateX(-50%);
                    display: flex;

                    &-bullet {
                        background: rgb(var(--color-button-text)) !important;
                        opacity: 1 !important;
                        width: 12px !important;
                        height: 12px !important;
                        display: block;
                        &-active {
                            background: rgb(var(--color-button)) !important;
                        }
                    }
                }
            }

            .__banner--wrapp {
                height: 600px;
                position: relative;

                .__img--wrapp,
                .__video {
                    height: 100%;
                    border-radius: 0;

                    &:hover :is(img, video) {
                        transform: scale(1);
                    }
                }

                .__banner-content {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 12px;
                    overflow-y: auto;
                    backdrop-filter: blur(8px);
                    background: rgb(var(--color-background), 0.5);

                    @media (max-width: #{$bp-mobile}) {
                        justify-content: end;
                        height: auto;
                        bottom: 0;
                        top: auto;
                    }

                    &::-webkit-scrollbar {
                        width: 3px;
                        &-track {
                            background: #f1f1f1;
                        }
                        &-thumb {
                            background: #888;
                        }
                    }
                }
                &.center {
                    .__banner-content {
                        max-width: 50%;
                        left: 50%;
                        transform: translate(-50%);
                        @media (max-width: #{$bp-mobile}) {
                            max-width: 100%;
                        }
                    }
                }
                &.left {
                    .__banner-content {
                        max-width: 50%;
                        left: 0;
                        @media (max-width: #{$bp-mobile}) {
                            max-width: 100%;
                        }
                    }
                }
                &.right {
                    .__banner-content {
                        max-width: 50%;
                        right: 0;
                        @media (max-width: #{$bp-mobile}) {
                            max-width: 100%;
                        }
                    }
                }
                &.full {
                    .__banner-content {
                        max-width: 100%;
                    }
                }
                &.split-left {
                    .__banner-content {
                        max-width: 50%;
                        left: 0;
                        @media (max-width: #{$bp-mobile}) {
                            max-width: 100%;
                        }
                    }
                    .__img--wrapp {
                        max-width: 50%;
                        margin-left: auto;
                        aspect-ratio: 1 / 1;
                        @media (max-width: #{$bp-mobile}) {
                            max-width: 100%;
                        }
                    }
                }
                &.split-right {
                    .__banner-content {
                        max-width: 50%;
                        right: 0;
                        @media (max-width: #{$bp-mobile}) {
                            max-width: 100%;
                        }
                    }
                    .__img--wrapp {
                        max-width: 50%;
                        margin-right: auto;
                        aspect-ratio: 1 / 1;
                        @media (max-width: #{$bp-mobile}) {
                            max-width: 100%;
                        }
                    }
                }
            }

            .__split--wrapp {
                display: flex;
                justify-content: space-between;
                gap: 12px;

                @media (max-width: #{$bp-tablet}) {
                    flex-direction: column-reverse;
                }

                .__left,
                .__right {
                    width: 50%;

                    @media (max-width: #{$bp-tablet}) {
                        width: 100%;
                    }
                }
                .__left {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 12px;

                    a.__card--link {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        border: 1px solid rgb(var(--color-foreground), 0.1);
                        min-height: 150px;

                        :is(img, svg) {
                            width: 50px;
                            height: auto;
                        }

                        .__card--name {
                            color: rgb(var(--color-foreground));
                            text-decoration: none;
                            margin-top: auto;
                        }
                    }
                }
                .__right {
                }
            }

            .__accordion--wrapp {
                display: flex;
                gap: 12px;

                @media (max-width: #{$bp-mobile}) {
                    flex-direction: column;
                }

                & .__accordion {
                    display: flex;
                    gap: 12px;
                    width: 50%;
                    @media (max-width: #{$bp-tablet}) {
                        flex-direction: column;
                    }
                    @media (max-width: #{$bp-mobile}) {
                        width: 100%;
                    }

                    & > div {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                    }

                    /* details[open] > summary svg {
                        transform: rotate(180deg);
                    } */

                    details {
                        summary {
                            list-style: none;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            font-weight: 600;

                            &::-webkit-details-marker {
                                display: none;
                            }

                            &::after {
                                content: '+';
                                font-size: 24px;
                                font-weight: 300;
                            }
                        }
                        &[open] {
                            summary {
                                &::after {
                                    content: '−';
                                }
                            }
                        }
                    }
                }

                .__img--wrapp,
                .__video {
                    height: auto;
                    border-radius: 0;
                    width: 50%;
                    aspect-ratio: 1;

                    @media (max-width: #{$bp-mobile}) {
                        width: 100%;
                    }
                }
            }

            .__tabs-wrapp {
                .__tabs {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    padding: 0;

                    li {
                        list-style-type: none;

                        span {
                            border-bottom: 1px solid transparent;
                            transition: all 0.1s ease-in-out;
                        }

                        &.active span {
                            border-bottom: 1px solid black;
                        }
                    }
                }

                .__tabs-content {
                    position: relative;
                    z-index: 2;
                    padding: 5px;

                    .__tabs-panel {
                        display: none;

                        &.active {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    /* component ARTICLE ---------- */
    article {
        position: relative;

        &.swiper-slide {
            width: auto;
        }

        .__badge {
            font-size: 11px;
            line-height: 100%;
            font-weight: 600;
        }

        .__content--wrapp {
            display: flex;
            flex-direction: column;
            gap: 12px;
            align-items: start;
            padding: 12px;
            border: 1px solid rgb(var(--color-foreground), 0.1);
            border-top: none;
            border-radius: 0 0 12px 12px;
            overflow: hidden;

            /* position: absolute;
            bottom: 0;
            backdrop-filter: blur(8px);
            background: rgb(var(--color-background), 0.5); */

            & > * {
                margin: 0;
            }

            h4.__title {
                font-size: 20px;
                line-height: 100%;
                font-weight: 400;
                color: rgb(var(--color-foreground));

                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            p.__author-data {
                font-size: 12px;
                line-height: 100%;
                font-weight: 400;
                color: rgb(var(--color-foreground), 0.5);
                display: flex;
                justify-content: space-between;
                width: 100%;
            }

            .__description {
                font-size: 16px;
                line-height: 100%;
                font-weight: 400;
                color: rgb(var(--color-foreground));
            }

            .__reviews {
            }

            a:not(.__link) {
                font-size: 15px;
                line-height: 100%;
                font-weight: 600;
                color: rgb(var(--color-button));
                text-decoration: none;
                &:hover {
                    color: rgb(var(--color-button), 0.8);
                    text-decoration: underline;
                }
            }

            button.add-to-cart {
                font-size: 15px;
                line-height: 100%;
                font-weight: 600;
            }

            .__price {
            }
        }
    }

    /* component - IMAGE ---------- */
    .__img--wrapp,
    .__video {
        height: 300px; /* <-- */
        object-fit: cover;
        width: 100%;
        display: block;
        overflow: hidden;
        border-radius: 12px 12px 0 0;

        &:hover :is(img, svg) {
            transition: 0.5s all ease-in-out;
            transform: scale(1.1);
        }

        :is(img, svg) {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            background-color: rgba(var(--color-foreground), 0.1);
        }
    }

    /* component LINK ---------- */
    a.__link {
        text-decoration: none;
        background: rgb(var(--color-button));
        color: rgb(var(--color-button-text));
        font-size: 15px;
        line-height: 120%;
        font-weight: 600;
        text-align: center;
        padding: 12px 40px;
        max-height: 46px;
        max-width: fit-content;
        border: 1px solid rgb(var(--color-button));
        border-radius: 23px;
        transition: all 0.3s ease;

        &:hover {
            background: rgb(var(--color-background));
            border: 1px solid rgb(var(--color-button));
            color: rgb(var(--color-button));
        }

        @media (max-width: #{$bp-mobile}) {
            width: 100%;
        }
    }
}
