@use 'sass:math';
@use '../settings/config' as *;

.name {
    &__wrapper {
        header {
            display: flex;
            justify-content: space-between;
            gap: 12px;
            flex-wrap: wrap;

            .__title {
                line-height: 110%;
                font-weight: 400;
                letter-spacing: -0.03em;
                margin: 0;

                &.h2 {
                    font-size: 48px;
                }

                &.h3 {
                    font-size: 32px;
                }

                &.h4 {
                    font-size: 24px;
                }

                @include media-breakpoint-down(sm) {
                    font-size: 28px;
                    line-height: 100%;
                }
            }
            .__subtitle {
                font-size: 18px;
                line-height: 150%;
                font-weight: 400;
                letter-spacing: -0.03em;
                margin: 0;
                max-width: 600px;

                @include media-breakpoint-down(sm) {
                    font-size: 16px;
                    line-height: 100%;
                }
            }
        }
        .__container {
            background: none;

            .__banner--wrapp {
                position: relative;

                .__image-wrapp {
                    aspect-ratio: 3 / 1;
                    display: block;

                    img,
                    video {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        display: block;
                    }
                }
                .__banner-content {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 12px;
                    backdrop-filter: blur(8px);
                    background: rgba(255, 255, 255, 0.2);
                    overflow-y: auto;

                    a {
                        text-decoration: none;
                    }
                    &::-webkit-scrollbar {
                        width: 3px;
                    }
                    &::-webkit-scrollbar-track {
                        background: #f1f1f1;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: #888;
                    }
                }
                &.center {
                    .__banner-content {
                        max-width: 50%;
                        left: 50%;
                        transform: translate(-50%);
                        @media screen and (max-width: 750px) {
                            max-width: 100%;
                        }
                    }
                }
                &.left {
                    .__banner-content {
                        max-width: 50%;
                        left: 0;
                        @media screen and (max-width: 750px) {
                            max-width: 100%;
                        }
                    }
                }
                &.right {
                    .__banner-content {
                        max-width: 50%;
                        right: 0;
                        @media screen and (max-width: 750px) {
                            max-width: 100%;
                        }
                    }
                }
                &.full {
                    .__banner-content {
                        max-width: 100%;
                    }
                }
                &.split-left {
                    .__banner-content {
                        max-width: 50%;
                        left: 0;
                        @media screen and (max-width: 750px) {
                            max-width: 100%;
                        }
                    }
                    .__image-wrapp {
                        max-width: 50%;
                        margin-left: auto;
                        aspect-ratio: 1 / 1;
                        @media screen and (max-width: 750px) {
                            max-width: 100%;
                        }
                    }
                }
                &.split-right {
                    .__banner-content {
                        max-width: 50%;
                        right: 0;
                        @media screen and (max-width: 750px) {
                            max-width: 100%;
                        }
                    }
                    .__image-wrapp {
                        max-width: 50%;
                        margin-right: auto;
                        aspect-ratio: 1 / 1;
                        @media screen and (max-width: 750px) {
                            max-width: 100%;
                        }
                    }
                }
            }

            $grid-num: 5;
            .__grid--wrapp {
                display: grid;
                grid-template-columns: repeat($grid-num, 1fr);
                gap: 12px;

                @media screen and (max-width: 1024px) {
                    grid-template-columns: repeat(math.ceil(math.div($grid-num, 2)), 1fr);
                }
                @media screen and (max-width: 750px) {
                    grid-template-columns: 1fr;
                }
            }

            $i: 1;
            /* $grid-items: 6;
            .__grid--wrapp {
                display: grid;
                gap: 8px;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: auto auto auto;
                grid-template-areas:
                    'item-1 item-1 item-2'
                    'item-3 item-4 item-4'
                    'item-5 item-5 item-6';

                @media (max-width: $sm) {
                    grid-template-columns: 1fr;
                    grid-template-areas:
                        'item-1'
                        'item-2'
                        'item-3'
                        'item-4'
                        'item-5'
                        'item-6';
                }
                article {
                    @for $i from 1 through $grid-items {
                        &.number-#{$i} {
                            grid-area: item-#{$i};
                        }
                    }
                }
            } */

            .__slider--wrapp {
            }

            .__accordion--wrapp {
                display: flex;
                gap: 12px;

                @media screen and (max-width: 750px) {
                    flex-direction: column;
                }

                & .__accordion {
                    display: flex;
                    gap: 12px;
                    width: 50%;
                    @media screen and (max-width: 1250px) {
                        flex-direction: column;
                    }
                    @media screen and (max-width: 750px) {
                        width: 100%;
                    }

                    & > div {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                    }
                    details[open] > summary svg {
                        transform: rotate(180deg);
                    }
                }

                picture,
                video {
                    width: 50%;
                    @media screen and (max-width: 750px) {
                        width: 100%;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }

            .__tabs-wrapp {
                .__tabs {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    padding: 0;

                    li {
                        list-style-type: none;

                        span {
                            border-bottom: 1px solid transparent;
                            transition: all 0.1s ease-in-out;
                        }

                        &.active span {
                            border-bottom: 1px solid black;
                        }
                    }
                }

                .__tabs-content {
                    position: relative;
                    z-index: 2;
                    padding: 5px;

                    .__tabs-panel {
                        display: none;

                        &.active {
                            display: block;
                        }
                    }
                }
            }

            /* component */
            article {
                border-radius: 12px;
                overflow: hidden;
                &.swiper-slide {
                    width: auto;
                }
                &:hover img {
                    transition: 0.5s all ease-in-out;
                    transform: scale(1.1);
                }
                .__img--wrapp {
                    overflow: hidden;
                    width: 100%;
                    aspect-ratio: 1;
                    display: block;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }

                    h4.__title {
                    }
                    .__description {
                    }
                }
            }
        }
    }
}
