@use '../settings/config' as *;

$font-family-base: var(--font-body-family);
$font-family-headings: var(--font-heading-family);

$white: #fff;
$black: #000000;

$sm: 576px;
$md: 750px;
$lg: 990px;
$xl: 1200px;
$xxl: 1400px;

.name {
    &__wrapper {
        .__container {
            .__title {
                font-size: 60px;
                line-height: 110%;
                font-weight: 400;
                letter-spacing: -0.03em;
                margin: 0 auto;
                max-width: 670px;

                &.h2 {
                    font-size: 48px;
                }

                &.h3 {
                    font-size: 32px;
                }

                &.h4 {
                    font-size: 24px;
                }

                @include media-breakpoint-down(sm) {
                    font-size: 28px;
                    line-height: 100%;
                }
            }

            .__wrapper {
                display: flex;
                align-items: center;
                justify-content: center;

                @include media-breakpoint-down(md) {
                    flex-direction: column;
                }

                .__left-wrapp,
                .__right-wrapp {
                    width: 50%;

                    @include media-breakpoint-down(md) {
                        width: 100%;
                    }
                }

                .__left-wrapp {
                    aspect-ratio: 1 / 1;
                    overflow: hidden;

                    img,
                    video {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .__right-wrapp {
                }
            }

            .__grid-slider {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 12px;

                article {
                    border-radius: 12px;
                    overflow: hidden;
                    &.swiper-slide {
                        width: auto;
                    }

                    figure {
                        margin: 0;
                        height: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }

                        figcaption {
                        }
                    }
                }
            }
        }
    }
}
