@use '../settings/config' as *;

.name {
    &__wrapper {
        header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;

            .__title {
                line-height: 110%;
                font-weight: 400;
                letter-spacing: -0.03em;
                margin: 0;

                &.h2 {
                    font-size: 48px;
                }

                &.h3 {
                    font-size: 32px;
                }

                &.h4 {
                    font-size: 24px;
                }

                @include media-breakpoint-down(sm) {
                    font-size: 28px;
                    line-height: 100%;
                }
            }
            .__subtitle {
                font-size: 18px;
                line-height: 150%;
                font-weight: 400;
                letter-spacing: -0.03em;
                margin: 0;
                max-width: 600px;

                @include media-breakpoint-down(sm) {
                    font-size: 16px;
                    line-height: 100%;
                }
            }
        }
        .__container {
            background: none;

            .__banner--wrapp {
                position: relative;

                .__image-wrapp {
                    aspect-ratio: 2 / 1;
                    display: block;

                    img,
                    video {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        display: block;
                    }
                }
                .__banner-content {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 12px;
                    backdrop-filter: blur(8px);
                    background: rgba(255, 255, 255, 0.2);

                    a {
                        text-decoration: none;
                    }
                }
                &.center {
                    .__banner-content {
                        max-width: 50%;
                        left: 50%;
                        transform: translate(-50%);
                    }
                }
                &.left {
                    .__banner-content {
                        max-width: 50%;
                        left: 0;
                    }
                }
                &.right {
                    .__banner-content {
                        max-width: 50%;
                        right: 0;
                    }
                }
                &.full {
                    .__banner-content {
                        max-width: 100%;
                    }
                }
                &.split-left {
                    .__banner-content {
                        max-width: 50%;
                        left: 0;
                    }
                    .__image-wrapp {
                        max-width: 50%;
                        margin-left: auto;
                        aspect-ratio: 1 / 1;
                    }
                }
                &.split-right {
                    .__banner-content {
                        max-width: 50%;
                        right: 0;
                    }
                    .__image-wrapp {
                        max-width: 50%;
                        margin-right: auto;
                        aspect-ratio: 1 / 1;
                    }
                }
            }

            .__grid--wrapp {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 12px;
            }

            .__slider--wrapp {
            }

            .__accordion--wrapp {
                display: flex;
                gap: 12px;
                @media screen and (max-width: 750px) {
                    flex-direction: column;
                }

                & .__accordion {
                    display: flex;
                    gap: 12px;
                    width: 50%;
                    @media screen and (max-width: 1250px) {
                        flex-direction: column;
                    }
                    @media screen and (max-width: 750px) {
                        width: 100%;
                    }

                    & > div {
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                    }
                    details[open] > summary svg {
                        transform: rotate(180deg);
                    }
                }

                picture,
                video {
                    width: 50%;
                    @media screen and (max-width: 750px) {
                        width: 100%;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }

            /* component */
            article {
                border-radius: 12px;
                overflow: hidden;
                &.swiper-slide {
                    width: auto;
                }
                &:hover img {
                    transition: 0.5s all ease-in-out;
                    transform: scale(1.1);
                }
                .__img--wrapp {
                    overflow: hidden;
                    width: 100%;
                    aspect-ratio: 1;
                    display: block;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }

                    h4.__title {
                    }
                    .__description {
                    }
                }
            }
        }
    }
}
