$font-family-base: var(--font-body-family);
$font-family-headings: var(--font-heading-family);

$white: #fff;
$black: #000000;

$sm: 576px;
$md: 750px;
$lg: 990px;
$xl: 1200px;
$xxl: 1400px;



.name {
    &__wrapper {
        .n__container {
            h2.n__title {
                font-size: 44px;
                line-height: 110%;
                font-weight: 400;
                letter-spacing: -.03em;
                // color: $text-primary;
                // font-family: $font-family-headings;
                text-align: center;
                margin: 0 auto;
                max-width: 670px;

                // @include media-breakpoint-down(sm) {
                //     font-size: 28px;
                //     line-height: 100%;
                //     letter-spacing: -.04em;
                // }
            }

            .n__wrapper {
                display: flex;
                align-items: center;
                justify-content: center;

                // @include media-breakpoint-down(md) {
                //     flex-direction: column;
                // }

                .n__left-wrapp,
                .n__right-wrapp {
                    width: 50%;

                    // @include media-breakpoint-down(md) {
                    //     width: 100%;
                    // }
                }

                .n__left-wrapp {
                    max-width: 553px;

                    picture.s__image-wrapp {
                        display: block;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            object-position: center;
                        }
                    }
                }

                .n__right-wrapp {
                    max-width: 463px;

                    ul.n__list-items {
                        list-style-type: none;
                        padding-left: 0;

                        li {
                            font-size: 14px;
                            line-height: 100%;
                            font-weight: 400;
                            letter-spacing: normal;
                            color: $black;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            background: $white;

                            span:first-child {}

                            span:last-child {}

                            &.n__compare-price {
                                margin-top: 10px;
                            }

                            &.n__price {
                                margin-top: 10px;

                                img {}
                            }
                        }
                    }
                }

            }
        }
    }
}